# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [2]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [3]:
data

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20
...,...,...,...,...,...,...,...
68579,94547,Gerald,Donovan,687884,211,Wine - Prosecco Valdobiaddene,24
68580,57654,Lashonda,Roy,4373415,211,Wine - Prosecco Valdobiaddene,15
68581,36751,Glen,Frederick,2405597,211,Wine - Prosecco Valdobiaddene,10
68582,43270,Devon,Mc Daniel,4328852,211,Wine - Prosecco Valdobiaddene,11
68583,78718,Mandy,Abbott,6175098,211,Wine - Prosecco Valdobiaddene,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [4]:
data2 = data.groupby(['CustomerID', 'ProductName']).sum()
data2

                                          SalesID  ProductID  Quantity
CustomerID ProductName
33         Apricots - Dried                172592        324         1
           Assorted Desserts              5363705        219         1
           Bandage - Flexible Neon        6299165        273         1
           Bar Mix - Pina Colada, 355 Ml  3147536        281         1
           Beans - Kidney, Canned         6507033        300         1
...                                           ...        ...       ...
98200      Vol Au Vents                   5160346        272        50
           Wasabi Powder                  4438427         80        25
           Wine - Fume Blanc Fetzer       6226060         76        25
           Wine - Hardys Bankside Shiraz   266676        360        25
           Yogurt - French Vanilla        2112061        320        25

[63628 rows x 3 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [5]:
data_pivot = data.pivot_table(index=['ProductName'], columns=['CustomerID'], values=['Quantity']).fillna(value=0)
data_pivot

                                  Quantity                                \
CustomerID                           33    200   264   356   412   464
ProductName
Anchovy Paste - 56 G Tube              0.0   0.0   0.0   0.0   0.0   0.0
Appetizer - Mini Egg Roll, Shrimp      0.0   0.0   0.0   0.0   0.0   0.0
Appetizer - Mushroom Tart              0.0   0.0   0.0   0.0   0.0   0.0
Appetizer - Sausage Rolls              0.0   0.0   0.0   0.0   0.0   0.0
Apricots - Dried                       1.0   0.0   0.0   0.0   1.0   0.0
...                                    ...   ...   ...   ...   ...   ...
Yeast Dry - Fermipan                   0.0   0.0   0.0   0.0   0.0   0.0
Yoghurt Tubes                          0.0   0.0   0.0   0.0   0.0   0.0
Yogurt - Blueberry, 175 Gr             0.0   1.0   0.0   0.0   0.0   0.0
Yogurt - French Vanilla                1.0   0.0   0.0   1.0   0.0   0.0
Zucchini - Yellow                      0.0   0.0   0.0   0.0   0.0   0.0

                                                           ...              \
CustomerID                        477   639   649   669    ... 97697 97753
ProductName                                                ...
Anchovy Paste - 56 G Tube           0.0   1.0   0.0   0.0  ...   0.0  25.0
Appetizer - Mini Egg Roll, Shrimp   0.0   0.0   0.0   0.0  ...  25.0  25.0
Appetizer - Mushroom Tart           0.0   1.0   0.0   0.0  ...  25.0   0.0
Appetizer - Sausage Rolls           0.0   0.0   0.0   0.0  ...   0.0   0.0
Apricots - Dried                    0.0   0.0   0.0   0.0  ...   0.0  25.0
...                                 ...   ...   ...   ...  ...   ...   ...
Yeast Dry - Fermipan                0.0   0.0   0.0   0.0  ...   0.0   0.0
Yoghurt Tubes                       0.0   0.0   1.0   0.0  ...   0.0   0.0
Yogurt - Blueberry, 175 Gr          0.0   0.0   0.0   0.0  ...  25.0   0.0
Yogurt - French Vanilla             1.0   0.0   0.0   1.0  ...   0.0   0.0
Zucchini - Yellow                   0.0   0.0   0.0   0.0  ...   0.0   0.0

                                                                             \
CustomerID                        97769 97793 97900 97928 98069 98159 98185
ProductName
Anchovy Paste - 56 G Tube           0.0   0.0   0.0   0.0   0.0   0.0   0.0
Appetizer - Mini Egg Roll, Shrimp   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Appetizer - Mushroom Tart           0.0   0.0   0.0   0.0   0.0   0.0  25.0
Appetizer - Sausage Rolls           0.0   0.0  25.0  25.0  25.0   0.0  25.0
Apricots - Dried                    0.0   0.0   0.0   0.0   0.0   0.0   0.0
...                                 ...   ...   ...   ...   ...   ...   ...
Yeast Dry - Fermipan                0.0  25.0   0.0   0.0   0.0   0.0   0.0
Yoghurt Tubes                       0.0   0.0   0.0   0.0   0.0  25.0   0.0
Yogurt - Blueberry, 175 Gr          0.0  25.0   0.0   0.0   0.0   0.0   0.0
Yogurt - French Vanilla            25.0   0.0   0.0   0.0   0.0   0.0   0.0
Zucchini - Yellow                   0.0   0.0   0.0   0.0   0.0   0.0   0.0


CustomerID                        98200
ProductName
Anchovy Paste - 56 G Tube           0.0
Appetizer - Mini Egg Roll, Shrimp   0.0
Appetizer - Mushroom Tart           0.0
Appetizer - Sausage Rolls           0.0
Apricots - Dried                    0.0
...                                 ...
Yeast Dry - Fermipan                0.0
Yoghurt Tubes                       0.0
Yogurt - Blueberry, 175 Gr          0.0
Yogurt - French Vanilla            25.0
Zucchini - Yellow                   0.0

[452 rows x 1000 columns]

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [21]:
dist_calculation = pdist(X=data_pivot.T, metric="euclidean")
dist_calculation

array([ 10.72380529,   9.64365076,   9.89949494, ..., 266.9269563 ,
       266.9269563 , 269.25824036])

In [22]:
dist_distribution = squareform(dist_calculation)
dist_distribution

array([[  0.        ,  10.72380529,   9.64365076, ..., 197.94948851,
        218.8241303 , 203.79892051],
       [ 10.72380529,   0.        ,  10.67707825, ..., 197.34994299,
        218.62525014, 203.95342606],
       [  9.64365076,  10.67707825,   0.        , ..., 197.32460566,
        218.02981447, 203.80628057],
       ...,
       [197.94948851, 197.34994299, 197.32460566, ...,   0.        ,
        266.9269563 , 266.9269563 ],
       [218.8241303 , 218.62525014, 218.02981447, ..., 266.9269563 ,
          0.        , 269.25824036],
       [203.79892051, 203.95342606, 203.80628057, ..., 266.9269563 ,
        269.25824036,   0.        ]])

In [23]:
euclid_dist = pd.DataFrame(dist_distribution,
                           index=data_pivot.columns, 
                           columns=data_pivot.columns)

euclid_dist

                       Quantity                                      \
CustomerID                33          200         264         356
         CustomerID
Quantity 33            0.000000   10.723805    9.643651    9.899495
         200          10.723805    0.000000   10.677078   10.723805
         264           9.643651   10.677078    0.000000   10.344080
         356           9.899495   10.723805   10.344080    0.000000
         412          10.440307   11.489125   10.198039   10.630146
...                         ...         ...         ...         ...
         97928       198.075743  197.729613  196.817174  197.575302
         98069       203.921554  202.723950  203.315026  204.293906
         98159       197.949489  197.349943  197.324606  197.322072
         98185       218.824130  218.625250  218.029814  218.142155
         98200       203.798921  203.953426  203.806281  203.681123

                                                                     \
CustomerID                412         464         477         639
         CustomerID
Quantity 33           10.440307   10.148892   10.723805   10.246951
         200          11.489125   11.045361   10.770330   10.954451
         264          10.198039   10.488088   10.677078   10.583005
         356          10.630146   10.535654   10.630146    9.949874
         412           0.000000   10.677078   10.677078   10.198039
...                         ...         ...         ...         ...
         97928       197.339808  197.324606  197.339808  197.441130
         98069       204.066166  204.051464  203.821000  203.919102
         98159       197.466453  197.451260  197.466453  197.694208
         98185       217.928887  218.487986  218.501716  218.135279
         98200       202.960587  203.192027  203.698306  203.796467

                                             ...                          \
CustomerID                649         669    ...       97697       97753
         CustomerID                          ...
Quantity 33           10.344080   10.148892  ...  206.963765  194.766527
         200          10.677078   10.488088  ...  206.269242  194.285872
         264          10.488088   10.488088  ...  206.366179  194.517351
         356          10.630146   10.440307  ...  206.726873  194.643263
         412          10.770330   10.392305  ...  206.985507  193.889144
...                         ...         ...  ...         ...         ...
         97928       197.451260  197.699267  ...  266.926956  252.487623
         98069       203.683578  203.678668  ...  273.861279  264.575131
         98159       197.197870  197.572771  ...  266.926956  250.000000
         98185       218.373533  218.940631  ...  287.228132  287.228132
         98200       204.051464  203.310108  ...  273.861279  266.926956

                                                                     \
CustomerID                97769       97793       97900       97928
         CustomerID
Quantity 33          199.145675  183.463893  202.259734  198.075743
         200         198.423789  182.543146  202.044550  197.729613
         264         199.153207  182.789496  201.772149  196.817174
         356         199.025124  182.923481  202.264678  197.575302
         412         199.168271  182.805908  202.034650  197.339808
...                         ...         ...         ...         ...
         97928       265.753645  246.221445  251.246891    0.000000
         98069       268.095132  263.391344  256.173769  252.487623
         98159       258.602011  256.173769  261.007663  252.487623
         98185       272.717803  265.753645  279.508497  278.388218
         98200       261.007663  261.007663  263.391344  276.134025


CustomerID                98069       98159       98185       98200
         CustomerID
Quantity 33          203.921554  197.949489  218.824130  203.798921
         200         202.723950  197.349943  218.625250  203.953426
         264         203.315026  197.324606  218.029814  203.806281
         356         204.293906  197.322072  218.142155  203.681123
         412         204.066166  197.466453  217.928887  202.960587
...                         ...         ...         ...         ...
         97928       252.487623  252.487623  278.388218  276.134025
         98069         0.000000  254.950976  276.134025  264.575131
         98159       254.950976    0.000000  266.926956  266.926956
         98185       276.134025  266.926956    0.000000  269.258240
         98200       264.575131  266.926956  269.258240    0.000000

[1000 rows x 1000 columns]

In [29]:
euclid_dist_norm = pd.DataFrame(1/(1 + squareform(pdist(data_pivot.T, 'euclidean'))),
                                index=data_pivot.columns,
                                columns=data_pivot.columns)

euclid_dist_norm

                     Quantity                                          \
CustomerID              33        200       264       356       412
         CustomerID
Quantity 33          1.000000  0.085297  0.093953  0.091747  0.087410
         200         0.085297  1.000000  0.085638  0.085297  0.080070
         264         0.093953  0.085638  1.000000  0.088152  0.089301
         356         0.091747  0.085297  0.088152  1.000000  0.085983
         412         0.087410  0.080070  0.089301  0.085983  1.000000
...                       ...       ...       ...       ...       ...
         97928       0.005023  0.005032  0.005055  0.005036  0.005042
         98069       0.004880  0.004909  0.004894  0.004871  0.004876
         98159       0.005026  0.005042  0.005042  0.005042  0.005039
         98185       0.004549  0.004553  0.004566  0.004563  0.004568
         98200       0.004883  0.004879  0.004883  0.004886  0.004903

                                                                       ...  \
CustomerID              464       477       639       649       669    ...
         CustomerID                                                    ...
Quantity 33          0.089695  0.085297  0.088913  0.088152  0.089695  ...
         200         0.083020  0.084959  0.083651  0.085638  0.087047  ...
         264         0.087047  0.085638  0.086333  0.087047  0.087047  ...
         356         0.086688  0.085983  0.091325  0.085983  0.087410  ...
         412         0.085638  0.085638  0.089301  0.084959  0.087779  ...
...                       ...       ...       ...       ...       ...  ...
         97928       0.005042  0.005042  0.005039  0.005039  0.005033  ...
         98069       0.004877  0.004882  0.004880  0.004886  0.004886  ...
         98159       0.005039  0.005039  0.005033  0.005045  0.005036  ...
         98185       0.004556  0.004556  0.004563  0.004558  0.004547  ...
         98200       0.004897  0.004885  0.004883  0.004877  0.004895  ...

                                                                       \
CustomerID              97697     97753     97769     97793     97900
         CustomerID
Quantity 33          0.004809  0.005108  0.004996  0.005421  0.004920
         200         0.004825  0.005121  0.005014  0.005448  0.004925
         264         0.004822  0.005115  0.004996  0.005441  0.004932
         356         0.004814  0.005111  0.004999  0.005437  0.004920
         412         0.004808  0.005131  0.004996  0.005441  0.004925
...                       ...       ...       ...       ...       ...
         97928       0.003732  0.003945  0.003749  0.004045  0.003964
         98069       0.003638  0.003765  0.003716  0.003782  0.003888
         98159       0.003732  0.003984  0.003852  0.003888  0.003817
         98185       0.003469  0.003469  0.003653  0.003749  0.003565
         98200       0.003638  0.003732  0.003817  0.003817  0.003782


CustomerID              97928     98069     98159     98185     98200
         CustomerID
Quantity 33          0.005023  0.004880  0.005026  0.004549  0.004883
         200         0.005032  0.004909  0.005042  0.004553  0.004879
         264         0.005055  0.004894  0.005042  0.004566  0.004883
         356         0.005036  0.004871  0.005042  0.004563  0.004886
         412         0.005042  0.004876  0.005039  0.004568  0.004903
...                       ...       ...       ...       ...       ...
         97928       1.000000  0.003945  0.003945  0.003579  0.003608
         98069       0.003945  1.000000  0.003907  0.003608  0.003765
         98159       0.003945  0.003907  1.000000  0.003732  0.003732
         98185       0.003579  0.003608  0.003732  1.000000  0.003700
         98200       0.003608  0.003765  0.003732  0.003700  1.000000

[1000 rows x 1000 columns]

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [51]:
euclid_simil_norm = euclid_dist_norm['Quantity'][33].sort_values(ascending=False)[1:]
cust_list = pd.DataFrame(euclid_simil_norm.head())
cust_list

                           33
         CustomerID
Quantity 3909        0.095358
         3531        0.093953
         264         0.093953
         2503        0.093498
         3305        0.093051

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [90]:
cust = [3909, 3531, 264, 2503, 3305]
top = data[data['CustomerID'].isin(cust)]
top = top.groupby(['CustomerID', 'ProductName']).sum()
top

                                           SalesID  ProductID  Quantity
CustomerID ProductName
264        Apricots - Halves               3730301        278         1
           Apricots Fresh                  5035449        158         1
           Bacardi Breezer - Tropical       756802         49         1
           Bagel - Plain                   6728381        262         1
           Banana - Leaves                 6298459        271         1
...                                            ...        ...       ...
3909       Wine - Charddonnay Errazuriz    9045484        450         2
           Wine - Fume Blanc Fetzer        3349679         76         1
           Wine - Magnotta, Merlot Sr Vqa  3566710        192         1
           Wine - Toasted Head             4134000        134         1
           Wine - Valpolicella Masi        3584400        296         1

[282 rows x 3 columns]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [93]:
top.sort_values(by='Quantity', ascending=False)

                                        SalesID  ProductID  Quantity
CustomerID ProductName
3531       Salsify, Organic             8529998       1305         3
2503       Butter - Unsalted            9275614        804         2
3531       Tofu - Firm                  7107336        468         2
264        Mushrooms - Black, Dried    10814315        302         2
3909       Ice Cream Bar - Oreo Cone    8692075        826         2
...                                         ...        ...       ...
2503       Veal - Sweetbread            3549946        340         1
           Wine - Crozes Hermitage E.   2614234         51         1
           Wine - Magnotta - Cab Sauv   5246564          6         1
           Wine - Red, Cooking           998009        377         1
3909       Wine - Valpolicella Masi     3584400        296         1

[282 rows x 3 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

                                           SalesID  ProductID  Quantity
CustomerID ProductName
264        Apricots - Halves               3730301        278         1
           Apricots Fresh                  5035449        158         1
           Bacardi Breezer - Tropical       756802         49         1
           Bagel - Plain                   6728381        262         1
           Banana - Leaves                 6298459        271         1
...                                            ...        ...       ...
3909       Wine - Charddonnay Errazuriz    9045484        450         2
           Wine - Fume Blanc Fetzer        3349679         76         1
           Wine - Magnotta, Merlot Sr Vqa  3566710        192         1
           Wine - Toasted Head             4134000        134         1
           Wine - Valpolicella Masi        3584400        296         1

[282 rows x 3 columns]

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.